/* 表格边框 */
table,
tr,
td {
    border: 1px solid blue;
    text-align: center;
}

/* 单线框 */
table {
    border-collapse: collapse;
    width: 100%;
    height: 50px
}

/* 表格文本对齐 */

/* 
    text-align 水平对齐
    vertical-align 垂直对齐
*/

td {
    text-align: right;
    vertical-align: bottom;
}

/* 表格内边距 */
td {
    padding: 15px;
}

/* 表格颜色 */
thead {
    background-color: green;
    color: white;
}